* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #efe784;
  font-family: "Roboto", sans-serif;
}

main {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: #3e3838;
  height: 351px;
}

section {
  padding-bottom: 5%;
  padding-top: 5%;
}

div.Top {
  position: relative;
  left: 168px;
  right: 168px;
  margin-right: 30%;
}

div.bottom {
  position: relative;
  left: 168px;
}

section.intro {
  background-color: #3e3838;

  position: relative;
  height: 370px;
  padding-bottom: 1px;
  text-align: center;
}

section.intro p {
  margin-left: 20%;
  margin-right: 20%;
  color: #efe784;
  padding-top: 1%;
}

img.logo {
  position: absolute;
  top: 75px;
  left: 39%;
}

.Bienvenue {
  text-transform: uppercase;
  color: #efe784;
  position: absolute;
  font-size: 23px;
  top: 30%;
  left: 41%;
  letter-spacing: 20px;
}

h1 {
  position: relative;
  font-size: 22px;
  border-bottom: solid 1px;
  border-top: solid 1px;
  border-color: #efe784;
  color: #efe784;
  text-transform: uppercase;
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  letter-spacing: 12px;
}

h2 {
  text-transform: uppercase;
}

h2.woman {
  color: white;
}

section.Avengers {
  background-color: white;
  color: #6ebbb1;
}

section.Star {
  background-color: #6cbcb3;
}

section.Woman {
  background-color: #3e3838;
  color: white;
}

footer {
  height: 198px;
  background-color: black;
}

img.footer {
  position: relative;
  top: 30%;
  left: 10%;
}

p.footer {
  color: white;
  position: relative;
  top: 40%;
  left: 10%;
}

p.description {
  font-size: 11px;
  line-height: 90%;
  color: white;
}

p.description_v {
  font-size: 11px;
  line-height: 90%;
}

p {
  line-height: 200%;
  padding-top: 20px;
}
